body {
    padding-bottom: 0;
}

.nav-item-icon {
    display: flex;
    align-items: center;
}

.nav-item-icon i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.footer-custom {
    text-align: center;
    width: 100%;
    background-color: #343a40;
    padding: 25px 0;
}

.footer-custom p,
.footer-custom a {
    color: white;
}

.footer-custom p {
    font-weight: 700;

}