.nav-item-icon {
    display: flex;
    align-items: center;
}

.nav-item-icon i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/* Products  Page*/
.product-item {
    margin-top: 50px;
}

.product-item h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: 700;
}

/* Product Page */
.product-page-price {
    font-size: 19px;
}

/* Footer */
.footer-custom {
    text-align: center;
    width: 100%;
    background-color: #343a40;
    padding: 25px 0;
}

.footer-custom p,
.footer-custom a {
    color: white;
}

.footer-custom p {
    font-weight: 700;

}